@model CafeOtomasyon.Models.Urun

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Urun</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <p class = "control-label col-md-2" >Ürün Adı</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.urunAd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.urunAd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class = "control-label col-md-2">Fiyat</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <p class = "control-label col-md-2">Kategori</p>
            <div class="col-md-10">
                @Html.DropDownList("idKategori", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idKategori, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<Geri", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
